<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Index Page</title>
</head>
<body>
    <div class="nav">
        <h3>Home | <a href="/projects">Projects</a> | <a href="/contacts">Contact</a></h3>
    </div>
    <div class="about">
        <div class="top">
            <div class="head">
                <h1>About Me</h1>
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <img height="200px" width="150px" src="/images/horimiya.png" alt="favorite anime">
                <h3>My favorite anime: Horimiya</h3>
                <h6>I also hate p tags</h6>
            </div>
            <div class="right">
                <div class="name">
                    <h1>Aaron Nguyen</h1>
                </div>
                <div class="description">
                    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam placeat quaerat unde velit ducimus reiciendis consequuntur. 
                        Fugiat itaque eius explicabo nobis provident cum,<br> dolores animi molestias asperiores quos repudiandae cupiditate assumenda 
                        voluptates possimus illo accusantium voluptas iure recusandae est dolore <br> sapiente ratione iusto officiis! Dignissimos sint 
                        perspiciatis non molestias necessitatibus?</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>