<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/project.css">
    <title>Projects Page</title>
</head>
<body>
    <div class="nav">
        <h3><a href="/">Home</a> | Projects | <a href="/contacts">Contact</a></h3>
    </div>
    
    <div class="bodyContainer">
        <div class="title">
            <h1>Projects</h1>
        </div>
        <div class="project">
            <div class="image">
                <img height="100px" width="100px" src="/images/blah.gif">
            </div>
            <div class="description">
                <div class="title">
                    <h2>Title: Pop cat1</h2>
                </div>
                <div class="desc">
                    <h3>Description: Cat go pop pop</h3>
                </div>
            </div>
        </div>
        <div class="project">
            <div class="image">
                <img height="100px" width="100px" src="/images/blah.gif">
            </div>
            <div class="description">
                <div class="title">
                    <h2>Title: Pop cat2</h2>
                </div>
                <div class="desc">
                    <h3>Description: Cat go pop pop</h3>
                </div>
            </div>
        </div>
        <div class="project">
            <div class="image">
                <img height="100px" width="100px" src="/images/blah.gif">
            </div>
            <div class="description">
                <div class="title">
                    <h2>Title: Pop cat3</h2>
                </div>
                <div class="desc">
                    <h3>Description: Cat go pop pop</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>