@model Dish
<a href="/all/dishes">Home</a>
<form asp-controller="Dish" asp-action="SubmitNew" method="post">
    <div>
        <div class="validation">
            <label asp-for="DishName"></label>
            <span style="color: red;" asp-validation-for="DishName"></span>
        </div>
        <input asp-for="DishName">
    </div>

    <div>
        <div class="validation">
            <label asp-for="Calories"></label>
            <span style="color: red;" asp-validation-for="Calories"></span>
        </div>
        <input asp-for="Calories">
    </div>

    <div>
        <div class="validation">
            <label asp-for="Tastiness"></label>
            <span style="color: red;" asp-validation-for="Tastiness"></span>
        </div>
        <select type="number" asp-for="Tastiness">
            <option value="">Select</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div>
        <div class="validation">
            <label asp-for="Description"></label>
            <span style="color: red;" asp-validation-for="Description"></span>
        </div>
        <input type="text" asp-for="Description">
    </div>

    <div>
        <div class="validation">
            <label asp-for="ChefId"></label>
            <span style="color: red;" asp-validation-for="ChefId"></span>
        </div>
        <select asp-for="ChefId">
            <option value="">Select</option>
            @foreach(var chef in @ViewBag.ListOfChefs)
            {
                <option value="@chef.ChefId">@chef.FullName()</option>
            }
        </select>
    </div>
    <button>Submit</button>
</form>