@model User;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Result</title>
</head>
<body>
    <h1>Submitted Info</h1>
    <h1>Name: @Model.Name</h1>
    <h1>Location: @Model.Locations</h1>
    <h1>Language: @Model.Language</h1>
    <h1>Comments: @Model.Comment</h1>
</body>
</html>