<h1>Welcome to the Wedding Planner</h1>

<table>
    <thead>
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guests</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            
        </tr>
    </tbody>
</table>

<a href="/wedding/form">New Wedding</a>